@model IEnumerable<Yenetta_code.Models.Brand>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["AddedBrand"] != null)
{
    <div class="alert alert-success">@TempData["AddedBrand"]</div>
}
@if (TempData["UpdatedBrand"] != null)
{
    <div class="alert alert-success">@TempData["UpdatedBrand"]</div>
}
@if (TempData["DeletedBrand"] != null)
{
    <div class="alert alert-success">@TempData["DeletedBrand"]</div>
}

<h1>Index</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="Create">Create brand</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Brand" asp-action="DeletedBrands">Deleted brands</a>
    </li>

</ul>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brandName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.brandName)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
