@model IEnumerable<Yenetta_code.Models.Product>

@{
    ViewData["Title"] = "Index";
}
@if (TempData["AddedProduct"] != null)
{
    <div class="alert alert-success">@TempData["AddedProduct"]</div>
}
@if (TempData["UpdatedProduct"] != null)
{
    <div class="alert alert-success">@TempData["UpdatedProduct"]</div>
}
@if (TempData["DeletedProduct"] != null)
{
    <div class="alert alert-success">@TempData["DeletedProduct"]</div>
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.brandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.categoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.brandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.id)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
